#cover.page
  .page-content
    - if book.cover
      %img{:src => book.cover, :title => book.title}

- book.prefaces.each do |p|
  !=p.html

- if book.toc
  %h1#toc
    Table of Contents
  - book.chapters.each do |c|
    %div.toc
      %ul
        = format_outline(c.outline)

- book.chapters.each do |c|
  !=c.html

- unless book.images.empty?
  %h1#table-of-figures
    Table of Figures
  %div.tof
    %ul
      - book.images.each do |i|
        %li<
          %a{:href=>"##{i[:slug]}"}<
            Figure #{i[:full_index]}
          \: #{i[:caption]}

- unless book.tables.empty?
  %h1#table-of-tables
    Table of Tables
  %div.tot
    %ul
      - book.tables.each do |i|
        %li<
          %a{:href=>"##{i[:slug]}"}<
            Table #{i[:full_index]}
          \: #{i[:caption]}

%h1#acknowledgements
  Acknowledgements
%div.acknowledgements
  = format_acknowledgements
